*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.winningMessage {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
}

.board {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  border: 2px solid black;
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3) {
  border-top: none;
}

button:nth-child(7),
button:nth-child(8),
button:nth-child(9) {
  border-bottom: none;
}

button:nth-child(3n + 1) {
  border-left: none;
}

button:nth-child(3n + 3) {
  border-right: none;
}

